body {
	width: 430px;
	margin: 0 auto;
	font-family: Verdana;
	font-size: 20px;
}

a {
	color: #02AAB3;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}



header {
	position: relative;
	border-bottom: 1px solid lightgrey;
}

header img {
	float: right;
	height: 75px;
}
header img:hover {
	height: 135px;
	z-index: 1;
	position: absolute;
	top: -22px;
	right: -2px; /* border width */
	border: 2px solid white;
}



section h2 {
	margin-top: 40px;
	margin-bottom: 20px;
}

section ul {
	margin: 0;
	padding: 0 15px;
}

section li {
	margin: 15px 0 15px 15px;
	list-style-type: none;
	text-indent: -15px;
}

section li .tagline {
	display: block;
	text-indent: 0; /* undo the negative text-indent from the li */
	color: lightgrey;
	font-size: small;
}



#writings li {
	margin-left: 30px;
}

#writings .date {
	display: inline-block;
	width: 66px;
	color: lightgrey;
	font-size: smaller;
}



footer {
	position: relative;
	margin-top: 60px;
	border-top: 1px solid lightgrey;
}

footer #contactdetails {
	float: left;
	font-size: small;
}
footer #contactdetails a {
	float: left;
	margin-right: 15px;
	cursor: pointer;
}
footer #contactdetails .close {
	display: none;
}

footer blockquote {
	margin: 0;
	text-align: right;
	font-size: small;
}
